# Import all libraries

In [2]:
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

# Load the dataset

In [3]:
df = read_csv('ionosphere.csv', header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

# Data Preprocessing

In [5]:
# Splitting the data into input and output columns
X, y = df.values[:, :-1], df.values[:, -1]

# ensure all values are floatinf types
X = X.astype('float32')

# Encode strings to integer
y = LabelEncoder().fit_transform(y)

# Split into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

# Determine the number of features
n_features = X_train.shape[1]
print('Number of features:', n_features)

(235, 34) (116, 34) (235,) (116,)
Number of features: 34

# Lifecycle of Keras Model

In [11]:
# Step-1 Define Model
model= Sequential()
model.add(Dense(10, activation='relu', kernel_initializer='he_normal', input_shape=(n_features,)))  # Hidden Layer
model.add(Dense(8, activation='relu', kernel_initializer='he_normal')) # Hidden Layer
model.add(Dense(1, activation='sigmoid'))  # Output Layer
          
# Step-2 Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics= ['accuracy'])
          
# Step-3 Fit the model
model.fit(X_train, y_train, epochs=150, batch_size=32, verbose=0) # Hint: You can change the verbose value to 2 to see epochs
          
# Step-4 Evaluate the model
loss, acc = model.evaluate(X_test, y_test, verbose=0)
print('Test accuracy : %.3f' %acc)

Test accuracy : 0.940

In [10]:
# Step-5 Make a prediction
row=[[1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1,0.03760,0.85243,-0.17755,0.59755,-0.44945,0.60536,-0.38223,0.84356,-0.38542,0.58212,-0.32192,0.56971,-0.29674,0.36946,-0.47357,0.56811,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300]]
prediction = model.predict(row)
print('Predicted: %.3f' %prediction)

Predicted: 0.994

This shows the above particular row belongs to Positive/Good class as we have used Sigmoid activation to evaluate the final output result.